:root {

    --lightBase: #e4e4e4;
    --lightAccent: #542375;
    --lightAccentTranslucid: #54237588;
    --lightBgAccent: #e4e4e488;
    --lightBgBase: #ffffff;
    --lightBgHighlight: #f1f1f15b;
    --lightBgHover: #b4b4b420;

    --darkBase: #1a1c24;
    --darkAccent: #9fa6cc;
    --darkAccentTranslucid: #9fa6ccbb;
    --darkBgAccent: #2d333c88;
    --darkBgHighlight: #2d303c5b;
    --darkBgHover: #9fa6cc20;
    --darkFormField: #121318;
}

$primary: #9fa6cc;

@import "~bootstrap/scss/bootstrap";

html {
    display: flex;
    height: 100%;
    background: linear-gradient(#0f1214fa,
            #0f1214fa),
        url(../public/img/background.png);
    background-size: auto;
    background-repeat: repeat-y;
}

body {
    font-family: 'Nunito', sans-serif;
    background: none;
    color: var(--darkAccent);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

::placeholder {
    color: rgb(78, 91, 109);
    font-size: 1.05rem;
}

ul {
    list-style-type: none;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flexCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    flex: 1;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0.5rem;
    padding-top: 8.7vh;
    /* background-color: var(--darkBgBase); */
}

.mainContainerMobile {
    height: 105vh;
    flex: 1;
    margin: 0;
    padding: 0.5rem;
    padding-top: 8vh;
    background-color: rgba(17, 17, 17, 0.363)
}

.mainContainer > .row, .mainContainerMobile > .row {
    padding: 0 !important;
    height: 100%;
}

.appTitle {
    margin-left: auto;
    margin-bottom: 0;
    display: inline-block;
    color: var(--darkAccent);
}

.appTitleWrapper {
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}

.appTitleSubheader {
    margin-left: 5.5vw;
    font-size: 1.7vh;
    color: var(--darkAccent);
    text-decoration: none;
}

.appLogo {
    object-fit: contain;
    max-height: 100%;
    height: 100%;
    width: auto;
}

.gamesList {
    width: 93vw;
    height: 100%;
}

/* --------------------- AUTH FORMS --------------------- */

.authForm {
    margin: auto;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 12px;
    background-color: var(--darkBase);
}


.authFormSubmitButton {
    color: var(--darkBase);
    border-radius: 12px;
    background-color: var(--darkAccent);
    border: none;
    margin: auto;
    margin-top: 1.2rem;
    width: 52% !important;
    font-weight: bold;
}

.authFormSubmitButton:hover {
    color: var(--darkBase);
    background-color: var(--darkAccentTranslucid);
}

.authFormProviderButton {
    width: 50% !important;
    height: 2.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}
.authFormProviderButton:hover {
    background-color: #ffffffbb;
}

.authFormText {
    color: var(--darkAccent);
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--darkAccent);

}

.authFormProviderButton .reducedSpanAuthFormProviderButton{
    margin-left: 0.5rem;
    display: none;
}

.authNavbar {
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.authNavItem {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: auto;
    flex:auto;
    font-size: 1.3rem;
    color: var(--darkAccent);
    text-decoration: none;
    border-bottom: 1px solid var(--darkAccent);
}

.authNavItem:hover {
    color: white;
}

.activeItem {
    color: white;
    border-bottom: 1px solid white;
}

.authNavbarSeparator{
    padding-top: 0.8rem;
    cursor: default;
    font-size: 1.5rem;
    color: var(--darkAccent);
    text-decoration: none;
}

.invalid-feedback {
    padding-left: 1rem;
}

/* --------------------- NAV BAR --------------------- */

.navbar {
    margin-top: 1.2vh;
}

.navbarMobile li {
    margin: 1.5rem;
}

.navItem {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    text-decoration: none;
    color:var(--darkAccent);
    font-size: 1.2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}


.navItem:hover {
    color:white;
}

.navSideButton {
    margin-right: 0.5rem;
    align-self: center;
}

.navLogOutButton {
    background: none;
    border: none;
    color:var(--darkAccent);
}

.sidebar {
    background-color: var(--darkBase);
    color: var(--darkAccent);
    width: 80%;
}

.btn-close {
    color: var(--darkAccent) ;
}

/* --------------------- GAMES LIST --------------------- */

.listColumn > .tab-content, .listColumn > .tab-content > .tab-pane {
    height: 100%;
}

.scrollable {
    margin-top: 0.8vh;
    height: 85.2vh;
    max-height: 85.2vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 12px;
    background-color: var(--darkBase);
}
.scrollable ul, .scrollableMobile ul {
    margin-bottom: 0 !important;
}

.scrollableMobile {
    margin-top: 0.5%;
    height: 86vh;
    overflow-x: hidden;
}

.mobileTabTitle {
    height: 5.5vh;
    color: white;
    
}

.mobileTabTitleWrapper {
    width: 100%;
}

.mobileTabTitle div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.listColumn {
    max-height: 100%;
    padding: 0;
    width: 80%;
}

.emptyListMessage {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamesForm {
    font-size: 1rem;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
}

.game > div {
    margin-left: 0 !important;
}

.game > .row {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


.gameWrapper:hover {
    background-color: var(--darkBgHover);
    border-radius: 12px;
}

.gameWrapper:hover .gameSortIndex{
    display: none;
}

.gameWrapper:hover .gameSortHandle{
    display: inline-block;
}

.hoverShown {
    display: none !important;
}
.gameWrapper:hover .hoverShown{
    display: flex !important;
}

.highlight {
    background-color: var(--darkBgHighlight);
    border-radius: 12px;
}

.gameWrapper {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.gameSortHandle{
    outline: none;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: var(--darkAccent);
    display: none;
}

.gameSortIndex{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1rem;
    color: var(--darkAccent);
}

.gameSortIndexSorted{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1rem;
    color: var(--darkAccent);
}

.gameMobile {
    padding: 0.5rem;
    z-index: 20;
}

.gameCard{
    width: 100%;
    height: 27vh;
    min-height: 27vh;
    overflow: hidden;
    background-color: black;
    border: none;
    border-radius: 16px;
}
.gameCardInfo {
    background: rgb(45,51,60);
    background: linear-gradient(90deg, var(--darkBase) 0%, rgba(0,0,0,0) 600%);
    color: var(--darkAccent);
    border-radius: 0;
    padding: 0.5rem;
    padding-left: 1rem;
}

.gameCardInfoCollapsed {
    height: 27%;
    position: absolute;
    top:76%;
    background: rgb(45,51,60);
    background: linear-gradient(90deg, var(--darkBase) 0%, rgba(0,0,0,0) 600%);
    color: var(--darkAccent);
    border-radius: 0;
    padding: 0.2rem;
    padding-left: 1rem;
}

.collapseInfoButton {
    display: inline-block;
    font-size: 1.7rem;
    background: none;
    border: none;
    color:white;

}

.card-title {
    margin-top: 0.2rem;
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.card-title div {
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gameCardRating {
    background-color: var(--darkBase);
    margin-left: 60%;
    width: 40%;
    height: 65%;
    padding-right: 0;
    border-radius: 0;
}

 .card-body {
    border-top: 1px solid var(--darkAccent);
    color: white;
    padding-left: 1rem;
}

.card-body div{
    padding: 0.3rem;
}

.gameCardInfoCollapsed .card-body {
    border: none;
}

.textButtonMobile {
    padding-left: 0;
    outline: none;
    border: none;
    background: none;
    color: var(--darkAccent)
}


/* --------------------- GAME ROW FIELDS --------------------- */

.gameInfo {
    color: white;
    max-width: 100%;
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}

.gameInfoUncentered {
    color: white;
    max-width: 100%;
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
}

.gameRating {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* --------------------- BUTTONS --------------------- */

.rightButton {
    display: none !important;
    justify-content: flex-end;
    align-items: center;
    padding-left: 4rem;
}

.buttonAdd {
    display: block;
    outline: none;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 15px;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    background-color: green;
}

.buttonAdd[disabled] {
    opacity: 0.3;
}

.buttonRemove {
    margin: auto;
    outline: none;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    background: none;
    font-size: 1.7rem;
    color: var(--darkAccent);
}

.buttonEdit {
    margin: auto;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--darkAccent);
}

.buttonAddGame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background: none;
    color: var(--darkAccent);
    font-size: 1.1rem;
    border: 1px solid var(--darkAccent);
    border-radius: 12px;
}

.buttonEditGame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: none;
    color: var(--darkAccent);
    font-size: 1.1rem;
    border: 1px solid var(--darkAccent);
    border-radius: 12px;
}

.buttonAddGameMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background: linear-gradient(90deg, var(--darkBase) 0%, rgba(0, 0, 0, 0) 600%);
    color: var(--darkAccent);
    font-size: 1.1rem;
    border: none;
    border-radius: 12px;
}

.buttonEditGameMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: linear-gradient(90deg, var(--darkBase) 0%, rgba(0, 0, 0, 0) 600%);
    color: var(--darkAccent);
    font-size: 1.1rem;
    border: none;
    border-radius: 12px;
}

.buttonAddGameDisabled {
    color: var(--darkAccent);
    border: 1px solid var(--darkAccent);
    cursor: default !important;
}

.buttonAddGameDisabledMobile {
    color: white;
}

.buttonAddGame:hover:not(.buttonAddGameDisabled)  {
    color: white;
    border: 1px solid white;
}

.buttonAddGameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* --------------------- ADD GAME MODAL ---------------------*/
.modalForm {
    color: white;
}

.modal-content {
    background-color: var(--darkBase) !important;
    border-radius: 12px;
}
.modal-body {
    background-color: var(--darkAccent);
}

.modalOverlay {
    background-color: #00000031;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
}

/* --------------------- ADD GAME FORM --------------------- */
.inputText {
    background: none;
    background-color: var(--darkFormField);
    border: none;
    border-radius: 12px;
}
.inputText:hover, .inputText:focus{
    color: white;
    background-color: var(--darkFormField);
}

.inputButton {
    background-color: var(--darkFormField);
    border: none;
    border-radius: 12px;
    color: var(--darkAccent)
}

.formLabel {
    color:var(--darkAccent);
}

.formLabel input{
    text-overflow: ellipsis;
}

.formLabel label {
    color:var(--darkAccent) !important;
}
label::after {
    
    background: none !important;
}

.formGroup {
    padding: 0.5rem;
    margin: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.formGroupBordered {
    padding: 0.5rem;
    margin: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: var(--darkBase);
    /* border: 1px solid var(--darkAccent); */
    border-radius: 12px;
    /* box-shadow: 5px 5px 3px #15181a; */
}

.formHeader {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    color: white;
    margin: 0;
}

.ratingsLabel {
    padding-left: 0.8rem;
    color:var(--darkAccent);
}

.ratingsSubLabel {
    margin-bottom: 0 !important;
}
.ratingsRow  {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ratingsRowMobile  {
    width: 100%;
    margin: 0;
    padding-left: 1rem;
}

.ratingsRow > div {
    max-width: 30%;
    padding: 0.3rem;
    background-color: var(--darkFormField);
    border-radius: 12px;
}

.ratingsRowMobile > .row {
    height: 2.2rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.ratingsRow > div > div > span{
    display: flex !important;
    justify-content: center;
}

.ratingsRowMobile > div > div {
    padding: 0;
    width: 50%;
}

.modal-body form .formGroup .ratingsRow {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;

}

/* --------------------- FIRST ROW ---------------------*/
.listHeader {
    border-radius: 12px;
    height: 4.5vh;
    background-color: var(--darkBase);
}

.columnTitle {
    color: var(--darkAccent);
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.columnFill {
    width: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.col-md-10 .row {
    height: 100% ;
}
/* --------------------- SIDE NAVBAR ---------------------*/

.sideBarColumn {
    height: 100%;
    max-width: 10%;
    padding: 0;
}
.tabSelectors {
    margin-right: 0.5rem;
    margin-top: 5rem;
    background-color: var(--darkBase);
    border-radius: 12px;
}

.nav-link {
    font-size: 1.1rem;
    color: var(--darkAccent);
    text-align: center;
    cursor: pointer;
}

.nav-pills .active,
.nav-pills .show>.nav-link {
    transition: 0.5s;
    background: none !important;
}

.nav-link:hover,
.nav-link:focus {
    background: var(--darkBgHighlight);
    color: white;
}

.nav-item {
    /* border-radius: 12px; */
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    /* background: linear-gradient(90deg, var(--c1, rgb(92, 187, 79)) 0%, var(--c1, rgb(92, 187, 79)) 48%, var(--darkBgBase) 56%, var(--darkBgBase) 90%) var(--x, 83%)/200%; */
    /* border-right: 0; */
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
}

.nav-item:hover {
    /* --x: 0; */
    color: white;
}

/* .tabFinished, #tabs-tabpane-Finished {
    --c1: #66cc66;
}

.tabPlaying, #tabs-tabpane-Playing {
    --c1: #ffcc80;
}

.tabOnHold, #tabs-tabpane-OnHold {
    --c1: #6680cc;
}

.tabDropped, #tabs-tabpane-Dropped {
    --c1: #ff8080;
}

.tabOthers, #tabs-tabpane-Other {
    --c1: #ffff80;
}
.tabPlanToPlay, #tabs-tabpane-PlanToPlay {
    --c1: #804d99;
} */

.bookmark {
    width: 6rem;
    height: 100%;
    background: rgb(45,55,60);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--c1) 100%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%); */
}

/* --------------------- TOP NAVBAR ---------------------*/
.topMenu {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--darkBase);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0.5rem;
    height: 8vh;
}

.topMenuMobile {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--darkBase);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 7vh;
    display: flex;
    justify-content: space-around;
}

.topMenuMobile  > div {
    padding-left: 1.5rem;
    padding-right: 1rem;
    height: 80%;
    max-height: 80%;
}

.profileDropdown {
    width: 20vw;
}

.profileDropdown a {
    padding-top: 0;
    padding-bottom: 0;
}

.profileDropdownButton {
    background: none;
    background-color: var(--darkBase);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-right: 1rem;
}
.profileDropdownButton::after {
    display: none;
}

.profileDropdownButton > img {
    width: 100%;
    height: 100%;
    border-radius: 200px;
}
.profileDropdownLink {
    background: transparent;
    border: none;
    width: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
    text-align: left;
}

.profileDropdownLink span, .profileDropdownLink svg{
    color: white;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    height: 5vh;
    width: 15vw;
    top: 80vh;
    left: 43.5vw;
    color: black;
    font-size: 1.1rem;
    background-color: var(--darkAccentTranslucid);
}
/* --------------------- SEARCH BAR ---------------------*/

.searchBarButton, .searchBarButton:hover, .searchBarButton:focus{
    background: none;
    border: none;
    background-color:var(--darkFormField);
    color: var(--darkAccent);
    border-radius: 0.5rem;
}

.searchBarField, searchBar:focus {
    background: none;
    border: none;
    color:var(--darkAccent);
}

.searchBarLoading {
    color: var(--darkAccent);
}
.searchBar {
    color: white;
    background-color: var(--darkFormField);
    border: none;
    border-radius: 0.5rem;
}

/* --------------------- SEARCH RESULTS ---------------------*/
.searchList {
    width: 99%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--darkBase);
    border-radius: 12px;
    margin: 0 auto 0 auto;
}

.resultsContainer {
    padding-top: 9vh;
    height: 100%;
    margin: 0;
}

.emptySearchList {
    color: white;
     font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.emptyListImage {
    max-width: 25%;
    max-height: 25%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 50%;
   transition: transform 2s ease-in-out;
}

.emptyListImage:hover {
    transform: rotate(3420deg);
  }
.searchedGame {
    padding: 0.75rem 0 0.75rem 0.75rem;
    border-radius: 12px;
}

.searchText {
    display: table;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    color: var(--darkAccent);
}

.gameName {
    color:white;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.gameImage {
    display: block;
    width: 12vw;
    height: 12vh;
    border-radius: 8px;
}

.gameListImage {
    border-radius: 8px;
    display: block;
    width: 100px;
    height: 60px;
}

.gameImageWrapper {
    display: flex;
    justify-content: flex-start;
}

/* .game:hover .gameListImage {
    width: 200px;
    height: 110px;
    transition: 1s ease-in-out;

} */
/* .game:hover .focusedGameInfo {
    visibility: visible;
    transition: visibility 1s ease-in-out;
}

.game:hover .mainGameInfo {
    visibility: hidden;
    transition: visibility 1s ease-in-out;
} */

.col-md-10 .col-md-1, .col-md-10 .col-md-3, .col-md-10 .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: min-content;
}

.imageOverlay {
    position: absolute;
    bottom: 25%;
    left: 96%;
    right: 0;
    overflow: hidden;
    width: 4%;
    height: 50%;
    transition: .5s ease;
    border: 2px solid var(--darkAccent);
    border-right: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.imageContainer:hover .imageOverlay {
    width: 50%;
    left: 50%;
}

.imageOverlay * {
    color: var(--darkAccent);
    font-size: 1.8rem;
    position: relative;
    top: 25%;
    left:35%;

}

.pagesNavWrapper {
    font-size: 1.1rem;
    padding-top: 1rem;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagesNavWrapper button {
    width: fit-content;
    text-decoration: none;
    background: none;
    border: none;
    color: var(--darkAccent);
}

.searchCardInfo {
    height: 25%;
    position: absolute;
    top: 76%;
    border-radius: 0;
    background: #2d333c;
    background: linear-gradient(90deg, var(--darkBase) 0%, rgba(0, 0, 0, 0) 600%);
    color: var(--darkAccent);
    border-radius: 0;
}

/* --------------------- STATS ---------------------*/

.statsContainer {
    height: 100vh;
    max-height: 100vh;
    padding-top: 9.5vh;
    /* background-color: var(--darkBgBase); */
}

.statsBox {
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--darkBase);
}

.statsMainRow {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding-left: 1rem;
    border-bottom: 1px solid var(--darkAccent);
}

.statsYearDropdown button {
    color: var(--darkAccent);
    margin-left: 50%;
    width: 50%;
    background: none;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--darkAccent);
    padding: 0;
    padding-left: 0.5rem;
    text-align: start;
}

.dropdown-menu {
    margin-right: -1rem;
    background-color: var(--darkBase);
/*     border: 2px solid var(--darkAccent); */
    border-radius: 12px;
}

.dropdown-item:hover {
    background-color: var(--darkBase);
}


.statsMainRow .dropdown-menu {
    height: 15rem;
    width: 5rem;
    overflow-y: scroll;
}

.statsYearDropdown button::after {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
}

.statDiv {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--darkAccent);
    background-color: var(--darkBgHighlight);
    box-shadow: 5px 5px 3px #15181a;
}

.statDivRow {
    margin: auto;
    margin-left: 3rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statsRanking > .row  {
    padding: 0.3rem;
    color: white;
}

.topPositionIcon {
    width: 1.5rem;
    height: 1.5rem;
}

/* --------------------- OVERRIDES ---------------------*/

input[type="text"] {
    color:white;
    padding: 0.4rem 4rem 0.4rem 1rem;
    background-color: var(--darkFormField);
    border: none;
    border-radius: 12px;
    /* background: none;
    border-bottom: 1px solid var(--darkAccent); */
}
/* input[type="text"]:hover, input[type="text"]:focus {
    border-bottom: 1px solid white;
} */

.form-select {
    border-radius: 12px;
    background-color: var(--darkFormField);
    border: none;
    outline: none;
    color:white;
    appearance: button;
    padding-top: 1.5rem !important;
    padding-bottom: 0 !important;
}

.form-control:focus {
    border-radius: 12px;
    background-color: var(--darkFormField);
    color: white;
}

.form-control[readonly] {
    color: rgba(255, 255, 255, 0.315);
    background-color: var(--darkFormField);
}

.form-control:disabled {
    color: white;
    background-color: var(--darkFormField);
}

.btn-primary:hover .btn-primary:focus {
    background: none !important;
    box-shadow: none !important;
    border-color: white !important;
}

.mb-3{
    margin-bottom: 0.75rem !important;
}

:focus-visible {
    outline: none;
}

.btn-close {
    color: white;
    background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
}

option {
    color: white;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 2.1rem;
    padding-left: 1rem;
}       

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password] {
    color: white;
  }

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  color: white;
}

ul {
    padding: 0 !important;
}

a {
    color: var(--darkAccent);
}

a:hover {
    color: white;
}

.mainContainer .row, .mainContainerMobile .row {
    --bs-gutter-x: 0;
}

.slick-next {
    right: 1rem !important;
}
.slick-prev {
    left: 1rem !important;
}

.slick-arrow {
    z-index: 100;
    background: none;
    top: 2.9vh !important;
}

.btn-dark:focus, .btn-dark:hover, .show > .btn-dark.dropdown-toggle {
    background: none !important;
    box-shadow: none !important;
    border-color: white !important;
}

.offcanvas {
    border-right: 1px solid var(--darkAccent);
}
.offcanvas-header {
    margin: 0 0.5rem 0 0.5rem;
    border-bottom: 1px solid var(--darkAccent);
}

/* --------------------- SCROLLBARS ---------------------*/

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--darkBase); 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkAccent); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.col-sm-8 nav {
    height: 100%;
}

/* --------------------- MEDIA QUERIES ---------------------*/
@media only screen and (max-width: 600px) {

    .authForm {
        width: 90%;
    }

    .authFormProviderButton .bigSpanAuthFormProviderButton{
        display: none;
    }
    .authFormProviderButton .reducedSpanAuthFormProviderButton{
        display: inline-block;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    
    .authForm {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    
    .authForm {
        width: 50%;
    }
}


//Touch devices
@media (hover: none) {
    .imageOverlay {
        position: absolute;
        bottom: 25%;
        left: 50%;
        right: 0;
        overflow: hidden;
        width: 50%;
        height: 50%;
        border: 2px solid var(--darkAccent);
        border-right: none;
        background-color: rgba(0, 0, 0, 0.8);
    }
  }