@import "~bootstrap/scss/bootstrap";

:root {
    --base: #2d333c;
    --accent: #9fa6cc;
    --darkBgAccentOpaque: #212c3b;
    --darkBgAccent: #27354788;
    --darkBgBase: #242b3a65;
    --darkBgHighlight: #2d303c5b;
    --darkBgHover: #9fa6cc20;
}

html {
    display: flex;
    height: 100%;
    background: linear-gradient(#181d20fa,
            #181d20fa),
        url(../public/img/background.png);
    background-size: auto;
    background-repeat: repeat-y;
}

body {
    font-family: 'Poppins', sans-serif;
    background: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

::placeholder {
    color:var(--accent);
}

ul {
    list-style-type: none;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    flex: 1;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0.5rem;
    padding-top: 11vh;
    /* background-color: var(--darkBgBase); */
}
.mainContainer > .row {
    padding: 0 !important;
    height: 100%;
}

.appTitle {
    margin-left: auto;
    margin-bottom: 0;
    display: inline-block;
    color: var(--accent);
}

.appTitleWrapper {
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}

.appTitleSubheader {
    margin-left: 5.5vw;
    font-size: 1.7vh;
    color: var(--accent);
    text-decoration: none;

}

.gamesList {
    width: 93vw;
    height: 100%;
}

/* --------------------- AUTH FORMS --------------------- */

.authForm {
    margin: auto;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
}


.authFormSubmitButton {
    color: var(--base);
    background-color: var(--accent);
    border: 1px solid white;
    border-radius: 0px;
    margin: auto;
    margin-top: 1.2rem;
    width: 50%;
    font-weight: bold;
}

.authFormSubmitButton:hover {
    color: var(--accent);
    background-color: var(--base);
    border: 1px solid var(--accent);
    margin: auto;
    width: 50%;
    font-weight: bold;
}

.authFormProviderButton {
    width: 50% !important;
    height: 5vh !important;
    margin: auto;
    margin-bottom: 1.5rem;
    border: none;
    font-weight: bold;
}

.authFormText {
    color: var(--accent);
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--accent);

}

.authFormProviderButton .reducedSpanAuthFormProviderButton{
    margin-left: 0.5rem;
    display: none;
}

.authNavbar {
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.authNavItem {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: auto;
    flex:auto;
    font-size: 1.3rem;
    color: var(--accent);
    text-decoration: none;
    border-bottom: 1px solid var(--accent);
}

.authNavItem:hover {
    color: white;
}

.activeItem {
    color: white;
    border-bottom: 1px solid white;
}

.authNavbarSeparator{
    padding-top: 0.8rem;
    cursor: default;
    font-size: 1.5rem;
    color: var(--accent);
    text-decoration: none;
}

/* --------------------- NAV BAR --------------------- */

.navItem {
    color: white;
}

/* --------------------- GAMES LIST --------------------- */

.listColumn > .tab-content, .listColumn > .tab-content > .tab-pane {
    height: 100%;
}

.scrollable {
    height: 95%;
    max-height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid var(--accent);
    border-top: none;
    background-color: var(--darkBgBase);
}
.scrollable ul {
    margin-bottom: 0;
}
.listColumn {
    max-height: 100%;
    padding: 0;
    width: 80%;
}

.game {
    width: 100%;
    padding: 0.14rem;
    padding-left: 0.75rem;
}

.gamesForm {
    font-size: 1rem;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
}

.game > div {
    margin-left: 0 !important;
}

.game > .row {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


.gameWrapper:hover {
    background-color: var(--darkBgHover);
}

.highlight {
    background-color: var(--darkBgHighlight);
}

.gameWrapper {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.gameSortHandle{
    width: 3rem;
    outline: none;
    padding: 0;
    padding-left: 0.75rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--accent);
}

/* --------------------- GAME ROW FIELDS --------------------- */
.game > .row > .col, .game > .row > .col-md-4, 
.game > .row > .col, .game > .row > .col-md-5 {
    display: flex;
}
.gameTitle {
    margin: auto;
    font-style: italic;
    display: inline-block;
    color: white;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gamePlatform {
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: center;
    color: white;
}

.gamePlaytime {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gameRating {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* --------------------- BUTTONS --------------------- */

.rightButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonAdd {
    display: block;
    outline: none;
    padding: 8px;
    font-size: 15px;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    background-color: green;
}

.buttonAdd[disabled] {
    opacity: 0.3;
}

.buttonRemove {
    margin: auto;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.7rem;
    color: var(--accent);
}

.buttonEdit {
    margin: auto;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--accent);
}

.buttonAddGame {
    background: none;
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    padding-top: -0.5rem;
    width: 3rem;
    height: 3rem;
    float: right;
    outline: none;
    font-size: 3.5rem;
    border: none;
}

.buttonAddGame:hover {
    color: white;
}

/* --------------------- ADD GAME MODAL ---------------------*/
.modalForm {
    color: white;
}
.modal-dialog {
    margin-top: 3rem;
    max-width: 50vw;
}

.modal-content {
    background-color: var(--base) !important;
}
.modal-body {
    background-color: var(--accent);
}

/* --------------------- ADD GAME FORM --------------------- */
.inputText {
    background-color: var(--base);
    border: none;
    border-bottom: 1px solid var(--accent);
}
.inputText:hover, .inputText:focus{
    color: white;
    background: none;
}

.formLabel {
    color:var(--accent);
}

.formGroup {
    background-color: var(--base);
    border: 1px solid var(--accent);
    /* border-radius: 8px; */
    box-shadow: 8px 8px 5px #15181a;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
}

.formHeader {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    color: white;
    margin: 0;
}

.ratingsLabel {
    padding-left: 0.8rem;
    color:var(--accent);
}

.ratingsSubLabel {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
}

.ratingsRow > div {
    max-width: 30%;
    padding: 0.3rem;
    border: 1px solid var(--accent);
    border-radius: 8px;
    box-shadow: 5px 5px 3px #15181a;
}

.ratingsRow > div > div > span{
    display: flex !important;
    justify-content: center;
}

.modal-body form .formGroup .ratingsRow {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;

}

/* --------------------- FIRST ROW ---------------------*/
.listHeader {
    border: 1px solid var(--accent);
    height: 5%;
    background-color: var(--darkBgAccent);
}

.columnTitle {
    color: var(--accent);
    font-size: 1.1rem;
    min-width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.columnFill {
    width: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.col-md-11 .row {
    height: 100% ;
}
/* --------------------- SIDE NAVBAR ---------------------*/

.sideBarColumn {
    height: 100%;
    max-width: 10%;
    padding: 0;
}
.tabSelectors {
    margin-top: 3.2rem;
}

.nav-link {
    color: white;
    text-align: center;
}

.nav-pills .active,
.nav-pills .show>.nav-link {
    transition: 0.5s;
    background: var(--c1) !important;
    border-radius: 0 !important;
}

.nav-link:hover,
.nav-link:focus {
    color: white;
}

.nav-item {
    border-radius: 0;
    margin: 0.5rem;
    margin-right: 0;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, rgb(92, 187, 79)) 0%, var(--c1, rgb(92, 187, 79)) 48%, var(--darkBgBase) 56%, var(--darkBgBase) 90%) var(--x, 83%)/200%;
    border: 1px solid var(--accent);
    border-right: 0;
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
}

.nav-item:hover {
    --x: 0;
}

.tabFinished, #tabs-tabpane-Finished {
    --c1: #66cc66;
}

.tabPlaying, #tabs-tabpane-Playing {
    --c1: #ffcc80;
}

.tabOnHold, #tabs-tabpane-OnHold {
    --c1: #6680cc;
}

.tabDropped, #tabs-tabpane-Dropped {
    --c1: #ff8080;
}

.tabOthers, #tabs-tabpane-Other {
    --c1: #ffff80;
}
.tabPlanToPlay, #tabs-tabpane-PlanToPlay {
    --c1: #804d99;
}

.bookmark {
    width: 6rem;
    height: 100%;
    background: rgb(45,55,60);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--c1) 100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%); */
}

/* --------------------- TOP NAVBAR ---------------------*/
.topMenu {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--darkBgAccentOpaque);
    border-bottom: 1px solid var(--accent);
    padding: 0.5rem;
    height: 10vh;
}
.navbar {
    padding-top: 1.5rem !important;
}

.navItem {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    text-decoration: none;
    color:var(--accent);
    font-size: 1.2rem;
    border-radius: 1rem;
}

.navItem:hover {
    color:white;
}

/* --------------------- SEARCH BAR ---------------------*/

.searchBarButton {
    font-size: 1.1rem;
    background: none;
    border: none;
    color:var(--accent);

}

.searchBarLoading {
    color: var(--accent);
}
.buttonContainer {
    width: 30px;
    height: 30px;
    margin-left: -2rem;
    position: fixed;
}

/* --------------------- SEARCH RESULTS ---------------------*/
.searchList {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid var(--accent);
    margin-top: 0;
    padding: 0.5rem !important;

}

.resultsContainer {
    padding-top: 12vh !important;
    height: 100%;
    margin: 0;
    padding-bottom: 1rem;
    /* background-color: var(--darkBgBase); */
}

.emptySearchList {
    color: white;
     font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.sideBarColumnWide {
    height: 100%;
    max-width: 20%;
    padding: 0;
    border: 1px solid var(--accent);
}

.emptyListImage {
    max-width: 25%;
    max-height: 25%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 50%;
   transition: transform 2s ease-in-out;
}

.emptyListImage:hover {
    transform: rotate(3420deg);
  }
.searchedGame {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--accent);
}

.searchText {
    display: table;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    color: var(--accent);
}

.gameName {
    color:white;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.gameInfo {
    font-size: 0.95rem;
    color:white;
}

.gameImage {
    display: block;
    width: 12vw;
    height: 12vh;
    border-radius: 8px;
}

.gameListImage {
    display: block;
    width: 80px;
    height: 45px;
}

/* .game:hover .gameListImage {
    width: 200px;
    height: 110px;
    transition: 1s ease-in-out;

} */
/* .game:hover .focusedGameInfo {
    visibility: visible;
    transition: visibility 1s ease-in-out;
}

.game:hover .mainGameInfo {
    visibility: hidden;
    transition: visibility 1s ease-in-out;
} */

.col-md-11 .col-md-1, .col-md-11 .col-md-3, .col-md-11 .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: min-content;
}

.imageOverlay {
    position: absolute;
    bottom: 25%;
    left: 96%;
    right: 0;
    overflow: hidden;
    width: 4%;
    height: 50%;
    transition: .5s ease;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid var(--accent);
    border-right: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.imageContainer:hover .imageOverlay {
    width: 50%;
    left: 50%;
}

.imageOverlay * {
    color: var(--accent);
    font-size: 1.8rem;
    position: relative;
    top: 25%;
    left:35%;

}

/* .focusedGameInfo {
    visibility: hidden;
    margin-left: 10%;
} */

/* --------------------- OVERRIDES ---------------------*/

input[type="text"] {
    color:white;
    padding: 0.25rem 4rem 0.25rem 0.75rem;
    background: none;
    border: none;
    border-bottom: 1px solid var(--accent);
}
input[type="text"]:hover, input[type="text"]:focus {
    border-bottom: 1px solid white;
}

select {
    color:var(--accent);
    padding: 0.25rem 4rem 0.25rem 0.75rem;
    background: none;
    border: none;
    border-bottom: 1px solid var(--accent);
    font-size: 1.05rem;
}
select:hover, select:focus {
    border-bottom: 1px solid white;
}

.form-select {
    outline: none;
    color:white;
    border-radius: 0;
    appearance: button;
    padding-top: 1.5rem !important;
    padding-bottom: 0 !important;
}
.form-control {
    outline: none;
    border-radius: 0;
}
.form-control[readonly] {
    color: rgba(255, 255, 255, 0.63);
    background-color: var(--base);
}

.mb-3{
    margin-bottom: 0.75rem !important;
}

:focus-visible {
    outline: none;
}

.btn-close {
    color: white;
    background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
}

option {
    background-color: var(--accent);
    color: var(--base);
    font-weight: bold;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 2.1rem;
    padding-left: 1rem;
}       

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password] {
    color: white;
  }

input[type=number] {
  -moz-appearance: textfield;
  color: white;
}

ul {
    padding: 0 !important;
}

a {
    color: var(--accent);
}

a:hover {
    color: white;
}

.mainContainer .row {
    --bs-gutter-x: 0;
}

/* --------------------- SCROLLBARS ---------------------*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--base); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent); 
}

.col-sm-8 nav {
    height: 100%;
}

/* --------------------- MEDIA QUERIES ---------------------*/
@media only screen and (max-width: 600px) {

    .authFormProviderButton .bigSpanAuthFormProviderButton{
        display: none;
    }
    .authFormProviderButton .reducedSpanAuthFormProviderButton{
        display: inline-block;
    }
}